{% extends 'base.html' %}
{% load static %}

{% block title %}Gusteau's - La Critique{% endblock %}

{% block content %}
<!-- ======== PAGE CRITIQUE ======== -->
<div class="container">
    <h2 class="page-title">La Critique d'Anton Ego</h2>
    <div class="critique-content">
        <blockquote>
            En bien des points, la tâche du critique est aisée. Nous ne risquons pas grand-chose, et nous nous complaisons dans la position de celui qui juge ceux qui se soumettent à notre jugement. Nous nous épanouissons dans la critique négative, plaisante à écrire et à lire. Mais l'amère vérité, qu'il nous faut bien regarder en face, c'est que, dans le grand ordre des choses, le met le plus médiocre a sans doute plus de valeur que notre critique qui le dénonce comme tel. Mais il est des fois où le critique prend un vrai risque. C'est lorsqu'il découvre et défend la nouveauté. [...] Le nouveau a besoin d'amis. Hier soir, j'ai vécu une expérience nouvelle, un plat extraordinaire, d'une singulière origine. Affirmer que ce plat et son créateur ont radicalement changé l'idée que je me faisais de la grande cuisine ne serait pas leur faire justice. Ils ont ébranlé mes certitudes. [...] Je rentrerai bientôt chez Gusteau. Plus affamé que jamais.
        </blockquote>
        <p>- Anton Ego</p>
    </div>
</div>
{% endblock %}