{% extends 'base.html' %}
{% load static %}

{% block title %}Gusteau's - Notre Histoire{% endblock %}

{% block content %}
<!-- ======== PAGE HISTOIRE ======== -->
<div class="container">
    <h2 class="page-title">Notre Histoire</h2>
    <h3>L'Héritage d'Auguste Gusteau</h3>
    <p>Fondé par le légendaire chef Auguste Gusteau, notre restaurant a toujours eu pour crédo sa célèbre devise : "Tout le monde peut cuisiner". Cette philosophie, qui a guidé ses pas vers les 5 étoiles, est aujourd'hui encore le cœur battant de notre établissement.</p>
    <br>
    <h3>La Renaissance</h3>
    <p>Après une période de doutes, Gusteau's a retrouvé son âme grâce à une inspiration inattendue, un talent brut qui a su marier la plus haute tradition de la gastronomie française avec l'audace et la simplicité des saveurs authentiques. C'est cette nouvelle vision qui nous a permis de reconquérir le cœur des parisiens et des critiques du monde entier.</p>
</div>
{% endblock %}